/* src/index.css */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light mode variables */
  --bg: #E8EAF0;
  --bg-secondary: #ffffff;
  --blue-primary: #4F46E5;
  --blue-button: #6366F1;
  --red-primary: #DC2626;
  --purple-primary: #7C3AED;
  --green-primary: #22c55e;
  --green-secondary: #D1FAE5;
  --text: #2E3040;
  --text-secondary: #585A68;
  --text-opposite: #f5f5f5;
  --card: #f5f5f5;
  --card-secondery: #ffffff;
  --userinfo: #ffffff;
  --border: #e0e0e0;
}

.dark {
  --bg: #242424;
  --bg-secondary: #666770;
  --blue-primary: #4F46E5;
  --blue-button: #6366F1;
  --red-primary: #DC2626;
  --purple-primary: #7C3AED;
  --green-primary: #22c55e;
  --green-secondary: #D1FAE5;
  --text: #f5f5f5;
  --text-secondary: #d1cece;
  --text-opposite: #2E3040;
  --card: #2E3040;
  --card-secondery: #252b2b;
  --userinfo: #201d1d;
  --border: #e5e7eb;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);   /* ikuti variable */
  color: var(--text);            /* ikuti variable */
  transition: background-color 0.3s, color 0.3s;
}
body::-webkit-scrollbar {
  display: none;
}

main::-webkit-scrollbar {
  display: none;
}
/* hapus @media prefers-color-scheme — biar Zustand yang kontrol */