/* src/index.css */
@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light mode variables */
  --bg: #e8eaf0;
  --bg-secondary: #ffffff;
  --blue-primary: #4f46e5;
  --blue-button: #6366f1;
  --red-primary: #dc2626;
  --purple-primary: #7c3aed;
  --green-primary: #22c55e;
  --green-secondary: #d1fae5;
  --text: #2e3040;
  --text-secondary: #585a68;
  --text-opposite: #f5f5f5;
  --card: #f5f5f5;
  --card-secondery: #ffffff;
  --userinfo: #ffffff;
  --border: #e0e0e0;
  --boxShadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.dark {
  --bg: #242424;
  --bg-secondary: #1A1A1A;
  --blue-primary: #4f46e5;
  --blue-button: #6366f1;
  --red-primary: #dc2626;
  --purple-primary: #8a8a8a;
  --green-primary: #22c55e;
  --green-secondary: #d1fae5;
  --text: #f5f5f5;
  --text-secondary: #d1cece;
  --text-opposite: #2e3040;
  --card: #2e3040;
  --card-secondery: #121212;
  --userinfo: #201d1d;
  --border: #e5e7eb;
  /* --boxShadow: 8px 8px 16px rgba(143, 141, 141, 0.2); */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg); /* ikuti variable */
  color: var(--text); /* ikuti variable */
  transition:
    background-color 0.3s,
    color 0.3s;
}
body::-webkit-scrollbar {
  display: none;
}

main::-webkit-scrollbar {
  display: none;
}
/* hapus @media prefers-color-scheme — biar Zustand yang kontrol */

